<html>
  <head>
  </head>
  <body>
    <form action="/formSubmit" method="POST">
       <strong>Name</strong><br/>
       <input name="name" type="text"/>
       <br/>
       <strong>Age:-</strong><br/>
       <input name="age" type="text"/>
       <br/>
       <strong>Phone Number</strong><br/>
       <input name="phoneNo" type="text"/><br/>
       <input type="submit"/>
    </form>
  </body>
</html>